<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Ultimate Pet, <%= @user.name %></h1>
    <p>
     Tu cuenta se ha creado satisfactoriamente
    </p>
    <p>
      Recuerda visitarnos en: <%=link_to root_url, root_url %>
    </p>
    
  </body>
</html>